<!-- <div class="header">
   <img src="your-background-image.jpg" alt="Background Image"> -->
  <!-- <h1 class="header-text">Pokemon Team Builder</h1>
</div>
<nav class="navbar sticky-top">
  <div class="float-left">
  <a class="navbar-brand" routerLink=" " routerLinkActive="active">Home</a>
  <a class="navbar-brand" routerLink="/profile" routerLinkActive="active">Profile</a>
</div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav> -->
