.header {
  position: relative;
  text-align: center;
  // background-image: url('your-background-image.jpg');
  color: black;
  background-size: cover;
  background-position: center;
  height: 6em;
  overflow: hidden;
  background-color: lightcoral;
  padding-top: 1.5em;
}