.header {
  position: relative;
  text-align: center;
  // background-image: url('your-background-image.jpg');
  color: black;
  background-size: cover;
  background-position: center;
  height: 6em;
  overflow: hidden;
  background-color: lightcoral;
}

.header img {
  display: block;
  width: 100%;
  height: auto;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  line-height: 2em;
}

.navbar {
  padding: 1em 3em 1em 3em;
  border-bottom: 1px solid black;
  z-index: 1;
  background-color: white;
}
.navbar :nth-child(2) {
  padding-left: 1em;
}
form {
  display: flex;
  flex-direction: row;
}
button {
  margin-left: 1em;
}
