.header {
  position: relative;
  text-align: center;
  color: white;
  letter-spacing: 0.2em;
  height: 6em;
  overflow: hidden;
  background-color: rgba(95, 158, 160, 0.77);
  padding-top: 1.5em;
  font-family: 'Epilogue', sans-serif;
}