.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  width: 59vw;
  height: 95vh;
  overflow-y: scroll;
  border-radius: 5px;
  float: right;
  margin-right: 1em;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 1.5em;
  overflow-x: hidden;
}

.main-search-input {
  background: #fff;
  padding: 0 120px 0 0;
  border-radius: 1px;
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.3);
}

.fl-wrap {
  float: left;
  width: 100%;
  position: relative;
}

.main-search-input:before {
  content: '';
  position: absolute;
  bottom: -40px;
  width: 50px;
  height: 1px;
  background: rgba(255, 255, 255, 0.41);
  left: 50%;
  margin-left: -25px;
}

.main-search-input-item {
  float: left;
  width: 100%;
  box-sizing: border-box;
  border-right: 1px solid #eee;
  height: 50px;
  position: relative;
}

.main-search-input-item input:first-child {
  border-radius: 100%;
}

.main-search-input-item input {
  float: left;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 20px;
}

.main-search-button {

  background: #4DB7FE;
}

.main-search-button {
  position: absolute;
  right: 0px;
  height: 50px;
  width: 120px;
  color: #fff;
  top: 0;
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  cursor: pointer;
}

.main-search-input-wrap {
  max-width: 500px;
  margin: 20px;
}

:focus {
  outline: 0;
}


tr {
  cursor: pointer;
  opacity: 0.8;
}

tr:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
  opacity: 1;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}

.box::-webkit-scrollbar {
  width: 12px;
}

.box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.table td {
  text-align: center;
}

td {
  text-transform: capitalize;
  display: table-cell;
  vertical-align: middle;
}

.pokemon-sprite {
  width: 55px;
  height: auto;
}

.pagination {
  justify-content: center;
}

pagination-controls {
  display: flex;
  justify-content: center;
  margin-right: 1em;
}



//CLASSES FOR TYPE-SPECIFIC STYLING
.grass-type {
  background: #88cb66;
}

.fire-type {
  background-color: #f5944f;
}

.water-type {
  background-color: #76bdfe;
}

.poison-type {
  background-color: #c183c1;
}

.bug-type {
  background-color: #78d16e;
}

.normal-type {
  background-color: #c6c6a7;
}

.flying-type {
  background-color: #7d55f7;
}

.psychic-type {
  background-color: #fa8581;
}

.dark-type {
  background-color: #8a6955;
}

.electric-type {
  background-color: #f8d030;
}

.ground-type {
  background-color: #ebd69d;
}

.fighting-type {
  background-color: #c03028;
}

.rock-type {
  background-color: #b8a038;
}

.steel-type {
  background-color: #b8b8d0;
}

.ice-type {
  background-color: #98d8d8;
}

.ghost-type {
  background-color: #705898;
}

.dragon-type {
  background-color: #7038f8;
}

.fairy-type {
  background-color: #e79fef;
}