<div class="container poke-judge-container">
  <div class="row">
    <div class="col-md-6 left-column">
      <h1>Type Coverage</h1>
      <h5>Grass</h5>
      <h5>Fire</h5>
      <h5>Water</h5>
      <h5>Poison</h5>
      <h5>Ground</h5>
      <h5>Ghost</h5>
      <h5>Electric</h5>
      <h5>Psychic</h5>
      <h5>Rock</h5>
      <h5>Ice</h5>
      <h5>Bug</h5>
      <h5>Dragon</h5>
      <h5>Fighting</h5>
      <h5>Flying</h5>
      <h5>Normal</h5>
      <h5>Steel</h5>
      <h5>Dark</h5>
      <h5>Fairy</h5>
    </div>
    <div class="col-md-6 right-column">
      <h1>Suggestions</h1>
    </div>
  </div>