.team-container {
  display: flex;
  flex-wrap: nowrap;
  /* Prevent wrapping to multiple rows */
  overflow-x: auto;
  /* Add horizontal scroll if needed for smaller screens */
  gap: 20px;
  /* Adjust the gap as needed */
}

.team-pokemon {
  flex: 0 0 calc(16.666% - 20px);
  /* Each column takes up 1/6th of the container width */
  margin-bottom: 20px;
  /* Adjust the margin as needed */
}

.pokemon-card {
  border: 1px solid #ddd;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.pokemon-image {
  padding: 20px;
}

.pokemon-sprite {
  max-width: 100px;
  /* Adjust the image size as needed */
  max-height: 100px;
  /* Adjust the image size as needed */
  display: block;
  margin: 0 auto;
}

.pokemon-name {
  font-weight: bold;
  margin-top: 8px;
  text-transform: capitalize;
}

.pokemon-types {
  margin-top: 8px;
  text-transform: capitalize;
}