/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Ubuntu:wght@400;500&display=swap');



.add-button {
  border: none;
  background-color: cadetblue;
  padding: 10px 20px;
  border-radius: 5em;
  color: white;
  cursor: pointer;
}

.add-button:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.remove-button {
  border: none;
  background-color: lightsalmon;

  border-radius: 5em;
  color: white;
  cursor: pointer;
}

.remove-button:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.capitalized {
  text-transform: capitalize;
}